body {
  margin: 0;
  font-family: sans-serif;
  background-color: #F6F6F6;
}

h1, h2, ul, li, p, a {
  all: unset;
}

button, a {
  all: unset;
  cursor: pointer;
}

h2 {
  display: block;
  font-size: 20px;
  margin: 12px 0px;
  font-weight: 500;
}
